.adjMatrix {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 20px;
    width: 20px;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }
}

.headerRow {
  tr {
    background-color: yellow;
    height: 50px;
  }
}
